/* UTILITY CLASS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'ABC Ginto Nord Unlicensed Trial', sans-serif;
}

:root {
    --dis-primary-dark: #4e47e9;
    --dis-primary-ligth: #6260ee;
}

.d-flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.aling-f-end {
    align-items: flex-end;
}

.justify-c {
    justify-content: center;
}

ul {
    list-style: none;
}

.link-style {
    text-decoration: none;
    color: white;

}

.w-70 {
    width: 70%;
}

.max-w-50 {
    width: 50%;
}

.max-w-30 {
    width: 30%;
}

/* START HEADER */
header {
    background-color: var(--dis-primary-dark);
    color: white;
    justify-content: space-between;
    padding: 20px;
}

nav {
    ul {
        li {
            padding: 0 25px;
        }
    }

    .search {
        border-radius: 20px;
        background-color: var(--dis-primary-dark);
        color: white;
        border: 1px solid white;
        padding: 10px;
        display: flex;




        input {
            height: 20px;
            border: 0;
            background-color: var(--dis-primary-dark);

        }

        input[type=submit] {
            width: 20px;
            background-image: url(../img/icon/search.svg);
            background-size: contain;
            background-repeat: no-repeat;

        }

    }
}



/* START MAIN */
.jumbotron {
    width: 100%;


    .j-container {
        margin: auto;
        background-color: var(--dis-primary-dark);
    }

    .jumbo-up {

        height: 300px;


    }

    .jumbo-down {
        flex-direction: column;


        margin: auto;

        img {
            margin-top: -270px;
            width: 100%;
            border-radius: 10px;
        }
    }
}

.category {
    font-size: 1rem;

    a {
        color: var(--dis-primary-ligth);
        font-weight: bold;
    }
}

.title-container {
    margin: 40px 0 80px;
}

.j-title {
    font-size: 1.3rem;

    a {
        color: black
    }
}

.card-container {
    max-width: 70%;
    margin: auto;
    flex-wrap: wrap;
    margin-bottom: 60px;

    .card:nth-child(1),
    .card:nth-child(2) {
        max-width: 50%;

    }




}

.card {
    max-width: 33.3%;
    padding: 10px;
    font-weight: bold;



    img {
        width: 100%;
        border-radius: 10px;
    }
}

.card-title {
    a {

        color: black;
    }
}

.collection-container {
    margin: auto;

}

.type-collection {
    display: flex;
    flex-direction: column;
    gap: 30px;

    flex.1 a {
        padding: 15px;
        background-color: var(--dis-primary-ligth);
        border-radius: 20px;
        color: white;
        text-decoration: none;

    }
}

.collection-items {
    display: flex;
    flex-wrap: wrap;

    flex: 2;

    .card:nth-child(1) {
        max-width: 100%;

    }

    .card
}




/* START FOOTER */